# A. Explorar

In [1]:
import pandas as pd

In [13]:
cods = pd.read_json('./results/codigos.json')
cods

,nom,cate,lat,lon,ico,cod,cod_old,estado
0,MONTEGRANDE,CO,-7.22499,-79.15323,M,100090,396.0,DIFERIDO
1,YONAN GORE,HLM,-7.25592,-79.09908,H,201204,201204.0,DIFERIDO
2,QUEROCOTILLO,PLU,-6.27366,-79.03696,M,106067,153109.0,DIFERIDO
3,PUENTE MAYGASBAMBA,HLG,-6.67411,-78.52437,H,221110,220307.0,DIFERIDO
4,QUEBRADA SHUGAR,PLU,-6.68778,-78.45694,M,100113,153108.0,DIFERIDO
...,...,...,...,...,...,...,...,...
928,CAMPO DE MARTE,EMA,-12.07056,-77.04314,M,112181,NaN,AUTOMATICA
929,VON HUMBOLDT,EMA,-12.08221,-76.93944,M,472AC278,NaN,AUTOMATICA
930,ÑAÑA,EMA,-11.98744,-76.84194,M,111290,NaN,AUTOMATICA
931,CHOSICA,EHMA,-11.92986,-76.68964,H,47278214,NaN,AUTOMATICA
932,SAN BORJA,EMA,-12.10859,-77.00769,M,112193,NaN,AUTOMATICA

In [19]:
urls = cods[['cod']].copy()
urls['url'] = urls['cod'].apply(lambda x: f'https://www.senamhi.gob.pe/mapas/mapa-estaciones-2/map_red_graf.php?cod={x}&estado=REAL&tipo_esta=M&cate=CO&cod_old=')
urls

          cod                                                url
0      100090  https://www.senamhi.gob.pe/mapas/mapa-estacion...
1      201204  https://www.senamhi.gob.pe/mapas/mapa-estacion...
2      106067  https://www.senamhi.gob.pe/mapas/mapa-estacion...
3      221110  https://www.senamhi.gob.pe/mapas/mapa-estacion...
4      100113  https://www.senamhi.gob.pe/mapas/mapa-estacion...
..        ...                                                ...
928    112181  https://www.senamhi.gob.pe/mapas/mapa-estacion...
929  472AC278  https://www.senamhi.gob.pe/mapas/mapa-estacion...
930    111290  https://www.senamhi.gob.pe/mapas/mapa-estacion...
931  47278214  https://www.senamhi.gob.pe/mapas/mapa-estacion...
932    112193  https://www.senamhi.gob.pe/mapas/mapa-estacion...

[933 rows x 2 columns]

In [20]:
# Guardar las URLs en un archivo de texto
with open('./results/urls.txt', 'w') as f:
    for url in urls['url']:
        f.write(f"{url}\n")